# <!DOCTYPE html>
# <html>
# <head>
#   <title>My Budget App</title>
# </head>
# <body>
#   <h1>Welcome to My Budget App!</h1>
#   <p>Get started by signing up or logging in:</p>
#   <%= link_to "Sign Up", new_user_registration_path %>
#   <%= link_to "Log In", new_user_session_path %>
# </body>
# </html>
